<h2>Contact Us</h2>
<p>  
 Have a problem? We're here for you :)<br>
 <br>Feel free to contact us and we'll our best to provide you with a solution
 </p>
 <p>You can chat with our reprasntive</p>
 <button mat-raised-button color="accent">Start a Chat</button>
 <p>Or use more tradtional ways :)</p>
<p class="cont">
<b>email:</b> service@pandApp.com<br>
<b>phone:</b> +972-55-555-555
</p>