<h2>Login</h2>
<form>
  <div  class = "example-container">
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    </mat-form-field>
  </div>
    
  <div class = "example-container">
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
    </mat-form-field>
  </div>
    
  <button mat-raised-button color="accent" (click)="login()">Login</button>
</form>
