.top{
    display: inline-block;
   
}

.logo {
    display: inline-block;
    vertical-align: bottom;
    width: 20%;
  }
.right {
    display: inline-block;
  }
  .logo img {
    height: auto;
    width: 100%;
  }
  .bar {
    display: inline-block;
  }
  .name{
     text-align: center; 
  }
  #in{
    background-color: #ffd740;
  }
  #out{
    background-color: #ffc400;
  }
