<div class ="top">
<div class="logo">
                <button mat-button><img (click)="toM()" src="assets/img/logo.png"></button>
</div>
<div class= "right">
<div class="name">
    <h1>pandApp</h1>
</div>
<div class="bar">
<button id ='in'*ngIf ="!(auth.user | async)"
        mat-raised-button color="primary"  
        (click)= "toL()">Login</button>
<button id ='out' *ngIf = "(auth.user | async)"
        mat-raised-button color="primary"
        (click)="toLogout()">Logout</button>
<button mat-raised-button color="primary" (click)="toP()">Payments</button>

<button mat-raised-button color="primary" 
        *ngIf = "!(auth.user | async)" 
        (click)="toR()">Register</button>
<button mat-raised-button color="primary" (click)="toA()">Contact Us</button>   

</div>
</div>

</div>


