<div>
<h2>Welcome :)</h2>
</div>
<div>
  <p>Hi, were glad you stoped by.<br>
    we hope we could help you with all of your Payments needs!</p>
</div>

<a routerLink = "/register">Not Registered? Join us</a>


