<div *ngIf ="(auth.user | async)">
    <h3>Welcome {{(auth.user | async)?.displayName }}!</h3>
    <h3>{{(auth.user | async)?.uid }}</h3>
    <h3>Adress: {{str}} #{{num}}, {{cit}}</h3>

   
</div>

<form *ngIf ="!(auth.user | async)">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-hint>Your Name</mat-hint>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-hint>Amount to pay</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Code</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-hint>Your building code</mat-hint>
    </mat-form-field>
  </p>

  <div>
    <button mat-raised-button color="accent" (click)="pay()">Pay!</button>
  </div>
</form>

