<h2>Register</h2>
<div class="sid">

    <form class="one"> 
      <mat-card>  
     
      <h4>Adress</h4> 
      
            <mat-form-field appearance="standard">
              <mat-label>Street</mat-label>
              <input [(ngModel)] = "street" name = "name" matInput placeholder="Street name + building #">
              <mat-hint>Include building number</mat-hint>
            </mat-form-field>
            
        
        <div class ="warning" *ngIf = "show1">Street is required</div>
      
            <mat-form-field appearance="standard">
              <mat-label>Appartment Number</mat-label>
              <input [(ngModel)] = "appartment" name = "name" matInput placeholder="Appartment #">
              <mat-hint>Your apprtment number</mat-hint>
            </mat-form-field>
            
        
        <div class ="warning" *ngIf = "show2">Apprtment # is required</div>
        
            <mat-form-field appearance="standard">
              <mat-label>City</mat-label>
              <input [(ngModel)] = "city" name = "name" matInput placeholder="City">
              <mat-hint>City of ressidence</mat-hint>
            </mat-form-field>
        
        <div class ="warning" *ngIf = "show5">City is required</div>
        <mat-divider></mat-divider>
        <h4>Reg. Details</h4> 
        
            <mat-form-field appearance="standard">
              <mat-label>E-Mail</mat-label>
              <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
            </mat-form-field>

        
        <div class ="warning" *ngIf = "code == 'auth/email-already-in-use'">{{msg}}</div>
        <div class ="warning" *ngIf = "code == 'auth/invalid-email'">{{msg}}</div>
        <div class ="warning" *ngIf = "show3">email is required</div>
        
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input [(ngModel)] = "password" name = "password" matInput placeholder="Password">
            <mat-hint>Choose a password</mat-hint>
          </mat-form-field>

        
        <div class ="warning" *ngIf = "code == 'auth/weak-password'">{{msg}}</div>
        <div class ="warning" *ngIf = "show4">password is required</div>
        
            <mat-form-field appearance="standard">
              <mat-label>Re-Password</mat-label>
              <input [(ngModel)] = "password2" name = "password2" matInput placeholder="Re-password">
              <mat-hint>Type password again</mat-hint>
            </mat-form-field>
            
        
        <div class ="warning" *ngIf = "refil">the passwords not matchs</div>
        <div>
            <button mat-raised-button color="accent" (click)="signup()">Sign up</button>
        </div>
      
      </mat-card>  
      
    </form>

</div>
  

